body {
  background-color: powderblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width:100px
}
h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
img{
  border-radius: 50%;
}
